body{
	background: Lavender;
}

h1 {
  font-size: 3em;
  padding-top: 100px;
  width: 100%;
  text-align: center;
}


h2 {
  font-weight: bold;
  font-size: 32px;
  line-height: 24px;
  padding-bottom: 30px;
  text-align: left;
  width: 70%;
}

p {
  line-height: 1.3em;
  text-align: left;
  width: 100%;
 
  font-weight: normal;
}

#number{
	font-size: 50px;
}



.intro{
	height: 200px;
	width: 250px;
}